/* navbar section */

.container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-family: sans-serif;
    justify-content: center;
    margin-left: 9%;
    margin-right: 7%; 
}

nav h1{
    display: flex;
    gap: 10px;
    margin-right: 460px;
    font-size: 30px;
}
nav span{
    color: rgb(231, 85, 68);
}

nav img{
    width: 70px;
    /* margin-left: 10%; */
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 40px;
}

nav a{
    text-decoration: none;
}

/* banner section */

.imgs{
    display: flex;
    text-align: center;
    margin-left: 150px;
    width: 1200px;
}

.center{
    position: absolute;
    top: 190px;
    left: 500px;
    transform: translate(-50% -50%);
    color: #FFFFFF;
    font-size: 70px;
    font-family: sans-serif;

}

.center1{
    position: absolute;
    top: 330px;
    left: 600px;
    transform: translate(-50% -50%);
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
}

.center2{
    position: absolute;
    top: 400px;
    left: 600px;
    transform: translate(-50% -50%);
    font-size: 70px;
    background: rgb(213, 201, 201);
    background: rgba(213, 204, 204, 0.5);
    color: #f1f1f1;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
}

.C1{
    color: black;  
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
}

.center3{
    background-color: tomato;
    color: white;  
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
}

.kashmir{
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
}

.C2{
    background-color:tomato;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
}

.C3{
    position: relative;
    text-align: center;
    font-family: sans-serif;
}
  /* body section or img gird */

  .choose{
    font-family: sans-serif;
    font-size: 30px;
  }

  .uncomon{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    
}

.container1{
    position: relative;
    text-align: center;
    color: white;
}

.maldives{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.react-1{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

.north-1{
    position: relative;
    text-align: center;
    color: white;
}

.north{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bongo{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
}

.bd-1{
    position: relative;
    text-align: center;
    color: white;
}

.bangla{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* body titel or box desgin */

.many h1{
    text-align: center;
    font-family: sans-serif;
}

.many p{
    text-align: center;
    font-family: sans-serif;
}

.box{
    display: flex;
    gap: 20px;
    justify-content: center;
    font-family: sans-serif;
}

.box img{
    height: 50px;
    
}

.box-1{
    background-color: rgb(241, 235, 226);
    width: 550px;
    padding: 20px;
    border-radius: 20px;
}

.box-2{
    background-color: rgb(214, 220, 220);
    width: 550px;
    padding: 20px;
    border-radius: 20px;
}

.BoB{
    display: flex;
    justify-content: center;
}

.BoB img{
    height: 50px;
}

.BoB-1{
    background-color: rgb(231, 213, 231);
    width: 550px;
    padding: 20px;
    border-radius: 20px;
}